nav {
  display: flex;
  height: 60px;
  background-color: rgba(0, 4, 47, 0.8);
  
  .logo {
    a {
      color: #000;
      text-decoration: none;

      h1 {
        font-size: 1.5rem;
        padding: 1.15rem;
        color: #fff;
      }
    }
  }

  .link-group {
    margin-left: auto;
    border-right: 1px solid rgba(0,0,0,0.75);

    a {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      border: none;
      outline: none;
      padding: 1.35rem;
      font-size: 1.1rem;
      border-left: 1px solid rgba(0,0,0,0.75);
      background-color: rgba(105,132,160,0.75);
    }
  }

  .button-group {

    button {
      color: #fff;
      border: none;
      outline: none;
      padding: 1.23rem;
      font-size: 1.1rem;
      background-color: rgba(199,45,45,0.75)
    }

    .accountButton {
      position: relative;
    }

    .accountMenu {
      width: 250px;
      position: absolute;
      background-color: rgba(0,0,0,0.5);

      &.closed {
        top: -9999px;
      }

      &.open {
        top: 60px;
        right: 0px;

        div {
          padding: 1rem;

          p {
            color: #fff;
            padding-bottom: 0.5rem;
          }
        }

        button {
          background-color: rgba(16, 25, 136, 0.5);
          padding: 0.75rem;
          width: 100%;
        }
      }
    }

    .loginMenu {
      width: 250px;
      position: absolute;
      background-color: rgba(0,0,0,0.5);
      color: #fff;

      &.closed {
        top: -9999px;
      }

      &.open {
        top: 60px;
        right: 0px;

        div {
          padding: 0.5rem;
          padding-bottom: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;

          input {
            padding: 0.5rem;
          }
        }

        button {
          background-color: rgba(16, 25, 136, 0.5);
          padding: 0.75rem;
          width: 100%;
          color: #fff;
          margin-top: 0.5rem
        }
      }
    }
  }
}