.subPage {
  padding: 1rem;
  min-height: 300px;

  h2{
    display: block;
    width: 33vw;
    border-bottom: 1px #000 solid;
    font-size: 1.25rem;
    margin-bottom: 1rem;
    background: #ccc;
    padding: 0.5rem;
  }
}